# Backend auth and Firebase
JWK_SET_URL=http://localhost:65535/jwks
JWT_ISSUER_URI=http://localhost:65535/issuer
FIREBASE_API_KEY=
FIREBASE_SERVICE_ACCOUNT_JSON_B64=

# Frontend public env
NEXT_PUBLIC_LETSGROW_EARLY_ACCESS_URL=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
