FIREBASE_CONFIG_PATH=./firebase_config.json
FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
VERSION=local
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/feedback_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_DOC_API_DOCS_ENABLED=true
LOG_PATH=./logs
IMAP_HOST=imap.example.com
IMAP_PASSWORD=your-imap-password
IMAP_USERNAME=feedback@example.com
IMAP_FOLDER=INBOX
IMAP_PORT=993
SHOW_EXPOSED_SQL=true
API_PORT=8080
JWT_JWK_SET_URL=https://www.googleapis.com/oauth2/v3/certs
JWT_ISSUER_URI=https://securetoken.google.com/your-project-id
