<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>API_SCHEME</key>
	<string>$(API_SCHEME)</string>
	<key>APPSTORE_ID</key>
	<string>$(APPSTORE_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google login prod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.53154288054-ees6nijglr9fhcl7g5t0m4dsq5udqknk</string>
				<string>com.googleusercontent.apps.53154288054-uvb0fq1b24c4vahtab5msddjq4s22206</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dk.nicolaidam.letsgrow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>letsgrow</string>
			</array>
		</dict>
	</array>
	<key>COMPILER_FLAG</key>
	<string>$(COMPILER_FLAG)</string>
	<key>FIREBASE_API_KEY</key>
	<string>$(FIREBASE_API_KEY)</string>
	<key>FIREBASE_BUNDLE_ID</key>
	<string>$(FIREBASE_BUNDLE_ID)</string>
	<key>FIREBASE_CLIENT_ID</key>
	<string>$(FIREBASE_CLIENT_ID)</string>
	<key>FIREBASE_GCM_SENDER_ID</key>
	<string>$(FIREBASE_GCM_SENDER_ID)</string>
	<key>FIREBASE_GOOGLE_APP_ID</key>
	<string>$(FIREBASE_GOOGLE_APP_ID)</string>
	<key>FIREBASE_PROJECT_ID</key>
	<string>$(FIREBASE_PROJECT_ID)</string>
	<key>FIREBASE_STORAGE_BUCKET</key>
	<string>$(FIREBASE_STORAGE_BUCKET)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>MARKETING_VERSION</key>
	<string>$(MARKETING_VERSION)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>proxyman.debug</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
			</dict>
		</dict>
	</dict>
	<key>SENTRY_DSN_SCHEME</key>
	<string>$(SENTRY_DSN_SCHEME)</string>
	<key>SENTRY_DSN_URL</key>
	<string>$(SENTRY_DSN_URL)</string>
	<key>SUPPORT_EMAIL</key>
	<string>$(SUPPORT_EMAIL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>WEB_BASE_URL</key>
	<string>$(WEB_BASE_URL)</string>
	<key>WEB_SCHEME</key>
	<string>$(WEB_SCHEME)</string>
</dict>
</plist>
